services:
  app:
    build: .
    ports:
      - "1234:3000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    networks:
      - todoapp

  db:
    image: postgres:17-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - todoapp

networks:
  todoapp:
    driver: bridge

volumes:
  postgres_data:
    driver: local
